
<ion-view view-title="Info">

<ion-content class="padding">
    <ul>
    <h4>"La Cafetera de Fernando Berlín, el programa estrella de la radio online en español, radiocable.com . Entrevistas políticas, prensa, música y participación de la resistencia."
        <p>Programa de radio en directo y en diferido.
Pionera emisora de radio por Internet. Nació el 14 de mayo de 1997 emitiendo desde un domicilio. Premio Ondas y del Club Internacional de prensa.
        </p>
    </h4>
        </ul>
</ion-content>
</ion-view>