<ion-view view-title="Principios éticos">

<ion-content class="padding">
    <h1>RadioCable.com</h1> <h4>Ha concentrado en 8 puntos
el ideario que marca la línea editorial
.</h4>
<ol>
    <p>– RadioCable.com publica información de actualidad con la intención de mejorar y ampliar aquella que reciben los ciudadanos. Una sociedad bien informada es una sociedad inconformista y más justa.</p>

    <p>– RadioCable.com se compromete a publicar una información honrada, valiente, veraz, fiable y contrastada. Por ello adquiere el compromiso de hacer que los lectores accedan a periodistas cuya solvencia esté acreditada.        </p>

    <p>– RadioCable.com no rechaza ni la economía ni la globalización pero sí se opone a quienes defienden una globalización que sea desequilibrada e injusta. De la misma forma este medio defiende el respeto a las identidades locales y será crítico con aquellos poderes que consideren a las organizaciones por encima de las personas o el medio ambiente.
    </p>

    <p>– RadioCable.com se compromete a dar cobertura a las actividades de grupos ecologistas y ong´s. así como a iniciativas que traten de concienciar a la sociedad de la necesidad de introducir una nueva ética basada en la paz, el respeto al medio ambiente, la solidaridad y la integración.
    </p>
    <p>– RadioCable.com no difunde notas que justifiquen los atentados contra el mundo animal aunque se trate de tradiciones socialmente aceptadas. A tal efecto, este medio, tiene el compromiso de ser crítico con los mismos, con el fin de hacer ver a la sociedad que, aún siendo tradiciones culturales, nunca justifican el dolor que provocan.
    </p>
    <p>– RadioCable.com no difunde contenidos sensacionalistas ni tampoco aquellos conocidos como “sociales” o de “prensa rosa”.
    </p>
    <p>– Con el fin de defender la credibilidad, RadioCable.com no realiza reportajes publicitarios sobre productos o servicios. Esta emisora no cobra por la publicación de noticias; separa información de publicidad y patrocinios y bajo ningún concepto pide ni acepta dinero por dejar de publicar noticia alguna. Igualmente RadioCable.com rechaza a aquellos medios que han hecho de la extorsión una nueva fórmula informativa.
    </p>
</ol>
</ion-content>
</ion-view>