

<ion-tabs class="tabs-icon-top tabs-striped tabs-background-dark tabs-color-stable">
    
       <ion-tab hidden="true">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
   
    <ion-tab icon="ion-ios-bookmarks" title="AgendaSeti" href="#/tab/AgendaSeti">    
        <ion-nav-view name="tab-AgendaSeti"></ion-nav-view>
    </ion-tab>
    
    
    <ion-tab icon="ion-coffee icon-top" title="principios" href="#/tab/principios">
        <ion-nav-view name="tab-principios"></ion-nav-view>
    </ion-tab>
    
    <ion-tab icon="ion-ios-location icon-top" title="Mecenas" href="#/tab/mapa">
        <ion-nav-view name="tab-mapa"></ion-nav-view>
    </ion-tab>
    
    <ion-tab hidden="true">
        <ion-nav-view name="info"></ion-nav-view>
    </ion-tab>
        
</ion-tabs>



